
{% if is_paginated %}

  <nav aria-label="...">

    <ul class="pagination justify-content-center">

      {% if page_obj.has_previous %}

        <li class="page-item">
          <span class="page-link">
            <a href="?page=1">&laquo; First</a>
          </span>
        </li>

        <li class="page-item">
          <span class="page-link">
            <a href="?page={{ page_obj.previous_page_number }}">
              {{ page_obj.previous_page_number }}
            </a>
          </span>
        </li>

      {% endif %}

      <li class="page-item active">
        <span class="page-link">
          {{ page_obj.number }}
        </span>
      </li>

      {% if page_obj.has_next %}

        <li class="page-item">
          <span class="page-link">
            <a href="?page={{ page_obj.next_page_number }}">
              {{ page_obj.next_page_number }}
            </a>
          </span>
        </li>

        <li class="page-item">
          <span class="page-link">
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
          </span>
        </li>

      {% endif %}

    </ul>

  </nav>

{% endif %}
